<div class="index-contents">
  <div class="index-contents-left">
    <div>closet</div>
    <div>furima</div>
  </div>
  <div class="index-contents-right">
    <div class="index-contents-right-up">
      <div>サブタイトル</div>
    </div>
    <div class="index-contents-right-under">
      <div>contents</div>
    </div>
  </div>
</div>