.index-contents {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
}
.index-contents-left {
  height: 100%;
  width: 60px;
  border-right: 1px solid lightgray; 
}
.index-contents-right {
  height: 100%;
  width: calc(100% - 60px);
}
.index-contents-right-up {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}
.index-contents-right-under {
  height: calc(100% - 120px);
  width: 100%;
  overflow: scroll;
}