.index-contents {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
}
.index-contents-left {
  height: 100%;
  width: 60px;
  background-color: gray;
}
.index-contents-right {
  height: 100%;
  width: calc(100% - 60px);
}
.index-contents-right-up {
  height: 120px;
  width: 100%;
  background-color: white;
}
.index-contents-right-under {
  height: calc(100% - 120px);
  width: 100%;
  overflow: scroll;
  background-color: rgb(248, 248, 248);
}